.todo-control-common {
    display: flex;
}

.todo-control-button {
    background-color: plum;
    opacity: 0.8;
    border: #fff5f8;
    width: 200px;
    height: 35px;
    font-weight: bold;
    display: block;
    margin-bottom: 12px;
}

.todo-control-page-button {
    height: 20px;
    width: 20px;
    background-color: plum;
    border-radius: 50%;
    font-weight: bold;
    border: none;
    margin: 0 48px;
    cursor: pointer;
}
.todo-control-page-buttons {
    margin-top: 12px;
}

.todo-control-buttons {
    height: 33px;
    width: 200px;
    border: 1px solid plum;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    margin-left: 24px;
    cursor: pointer;
}

.todo-control button:nth-child(even) {
    background-color: #f5e2f5;
}

.todo-control button:hover,button:nth-child(even):hover {
    background-color: #a040a0;
    color: white;
}

.todo-control-button-slice {
    display: inline-block;
    height: 35px;
    line-height: 35px;
    width: 50%;
}

.todo-control-button-slice:hover {
    background-color: #a040a0;
    color: white;
}

.todo-control-button-slice-selected:hover {
    background-color: plum;
    color: white;
}

.todo-control-button-slice-selected {
    background-color: #a040a0;
    color: white;
    opacity: 0.6;
    border-radius: 4px;
}

