.todo-panel{
    margin: auto;
    width: 1000px;
    height: 600px;
    /*border: 1px solid plum;*/
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 16px;
    /*color: darkgray;*/
    color: #282828;
}

.todo-list {
    width: 100%;
    height: 400px;
}

.todo-list h3 {
    height: 40px;
    margin: 0;
    border-bottom: 1px dashed #db7093;
}

.todo-list-content {
    height: 360px;
    border-bottom: 1px dashed #db7093;
    overflow: scroll;
}
.todo-control{
    padding: 20px;
    font-size: 18px;
    line-height: 1.8;
    display: flex;
    justify-content: space-between;
}

.todo-control-common {
    display: flex;
}

.todo-control-button {
    background-color: plum;
    opacity: 0.8;
    border: #fff5f8;
    width: 200px;
    height: 35px;
    font-weight: bold;
    display: block;
    margin-bottom: 12px;
}
.todo-control-buttons {
    height: 33px;
    width: 200px;
    border: 1px solid plum;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    margin-left: 24px;
    cursor: pointer;
}

.todo-control button:nth-child(even) {
    background-color: #f5e2f5;
}

.todo-control button:hover,button:nth-child(even):hover {
    background-color: #a040a0;
    color: white;
}

.todo-control-button-slice {
    display: inline-block;
    height: 35px;
    line-height: 35px;
    width: 50%;
}

.todo-control-button-slice:hover {
    background-color: #a040a0;
    color: white;
}

.todo-control-button-slice-selected:hover {
    background-color: plum;
    color: white;
}

.todo-control-button-slice-selected {
    /*border: 1px solid #ddd4dd;*/
    /*background-color:#ddd4dd;*/
    background-color: #a040a0;
    color: white;
    opacity: 0.6;
    border-radius: 4px;
}

.todo-control-options {
    height: 160px;
    text-align: left;
    display: flex;
    justify-content: space-evenly;
}
